@host {
  :scope {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: -webkit-linear-gradient(135deg, #006DB0, #006DB0);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

polymer-ui-pages {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


#clock {
  background-color: #000;
  opacity: 0;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  font-size: 64px;
  font-weight: 300;
  color: white;
  -webkit-transition: opacity 5s ease-out;
}
#clock.polymer-selected {
  opacity: 1;
}

#tiles {
  position: absolute;
  top: 32px;
  bottom: 32px;
  left: 32px;
  right: 32px;
}

#bar {
  width: 128px;
  background-color: #111;
}