@host {
  :scope {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: -webkit-linear-gradient(135deg, #006DB0, #006DB0);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

polymer-ui-pages {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#panel {
  z-index: 0;
  visibility: visible;
}
#clock {
  opacity: 0;
  -webkit-transition: opacity 3s ease-in;
}
#clock.polymer-selected {
  opacity: 1;
  z-index: 1000;
}

#tiles {
  position: absolute;
  top: 32px;
  bottom: 32px;
  left: 32px;
  right: 32px;
}

#bar {
  width: 80px;
}