:host {
  pointer-events: none;

  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;

  background-color: rgba(0,0,0,.7);
  border-radius: 4px;

  color: #FFF;
  text-align: center;
  font-family: "Roboto Condensed";
  font-weight: 300;
  font-size: 24px;
  opacity: 0;
}