:host {
  position: relative;

  -webkit-perspective: 600px;
  perspective: 600px;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

#wrapper {
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;


  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-transition: all 0.30s ease-out;
  transition: all 0.30s ease-out;

  overflow: hidden;
  background-color: rgba(255,255,255,0.5);
}
:host(.animating) #wrapper {
  -webkit-transition: none;
  transition: none;
}