:host {
  background-color: #000;
}

#time {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 64px;
  color: white;
  text-align: center;
}
.hours {
  font-weight: 400;
  color: #FFF;
}
.minutes {
  color: #999;
}

#extras {
  height: 64px;
  opacity: 0.5;
}

#temp {
  color: #FFF;
  font-size: 48px;
  line-height: 64px;
  height: 64px;
  padding-left: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 100;
}

:host.night #time {
  opacity: 0.5;
}

:host.night #extras {
  opacity: 0.3;
}