@host {
  :scope {
    display: block;
    position: relative;

    -webkit-perspective: 600px;
    -webkit-perspective-origin: 50% 50%;
  }
}

.tile {
  position: absolute;
  left: 4px;
  right: 4px;
  top: 4px;
  bottom: 4px;

  overflow: hidden;

  background-color: rgba(255,255,255,.2);
  box-shadow: inset 0 0 50px rgba(255,255,255,.5);

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */

  -webkit-transform-style: preserve-3d;

  background-color: rgba(255,255,255,.2);
  /*box-shadow: inset 0 0 50px rgba(255,255,255,.5);*/
}