:host {
  position: relative;
}

route-tile {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

route-ui-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.album-name {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 21px;
  padding: 8px;

  background-color: rgba(0,0,0,.7);
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  color: #FFF;
  font-size: 16px;

  z-index: 10;
}