@host {
  :scope {
    background-color: #000;
  }
}

#time {
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  font-size: 64px;
  font-weight: 300;
  color: white;
}
.hours {
  text-align: right;
}