@host {
  :scope {
    background-color: #000;
  }
}

#time {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 64px;
  color: white;
  text-align: center;
}
.hours {
  font-weight: 400;
}
.minutes {
  color: #999;
}